<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Referral Email</h1>
    <p>Hello!</p>
    <p>You have been referred by a friend. Click the link below to sign up:</p>
    <a href="<%= @signup_url %>">Sign Up</a>
  </body>
</html>
